### Type Casting
- int-->int
- int-->float
- int-->string
- int-->complex
- int-->bool
- int-->none

 - --------------------------------------------------------------------------------
- float-->float  
- float-->int
- float-->string
- float-->complex
- float-->bool
- float-->none

**int to other data types convertion**

$case -0$ ==>*int()*

In [4]:
a=int()
print(a,type(a))

0 <class 'int'>

$case-1$  =>*int to int*

In [5]:
num=25
type(num)

int

In [6]:
num1=int(num)
num1

25

$case -2$ *==>int to float*

In [7]:
num2=float(num)
num2

25.0

In [8]:
type(num2)

float

$case -3$ *==>int to string*

In [9]:
num3=str(num)
num3

'25'

In [10]:
type(num3)

str

$case -4$ *==>int to complex*

In [11]:
num4=complex(num)
num4

(25+0j)

$case -5$ *==>int to bool*

In [12]:
num5=bool(num)
num5

True

In [13]:
bool(0)

False

**Note**       
*other then 0 is everything is true in boolean function*

*bool(0)-->False*

**Summary of int type convertion**

num=25
int_number=int(num)   - #25
float_num=float(num)  - #25.0
string_num=str(num)   - #"25"
complex_num=complex(num) - #25+0j
bool_number=bool(num) - #True

**float to other data types convertion**

$case -0$ ==>*float()*

In [14]:
a=float()
print(a,type(a))

0.0 <class 'float'>

$case -1$==>*float to int*

In [15]:
num=25.0
type(num)

float

In [16]:
num1=int(num)
print(num1,type(num1))

25 <class 'int'>

$case -2$==>*float to float*

In [17]:
num2=float(num)
print(num2,type(num2))

25.0 <class 'float'>

$case -3$==>*float to string*

In [18]:
num3=str(num)
print(num3,type(num3))

25.0 <class 'str'>

In [19]:
str(3e4)

'30000.0'

$case -4$==>*float to complex*

In [20]:
num4=complex(num)
print(num4,type(num4))

(25+0j) <class 'complex'>

In [21]:
complex(num,6)

(25+6j)

$case -5$==>*float to bool*

In [73]:
num5=bool(num)
print(num5,type(num5))

True <class 'bool'>

In [76]:
bool(0.0)

False

In [78]:
bool(-2.0)

True

**Note**       
*other then 0 is everything is true in boolean function*

*bool(0.0)-->False*

In [ ]:
number="0b101"
nums=int(number,base=2)
print(nums)

5

**string to other data type**

$ case -1$==> *string to int*

In [26]:
string_value="apple"    #this is english
print(string_value)

apple

In [25]:
int(string_value)   #this is int and we are converting english to math it gives error

ValueError: invalid literal for int() with base 10: 'apple'

$ case -2$==> *string to float*

In [ ]:
float(string_value) #this is int and we are converting english to math it gives error

ValueError: could not convert string to float: 'apple'

$case -3$==>*string to bool*

In [28]:
bool(string_value)

True

In [ ]:
string_value1=""    #empty string("") gives false and this gives true(" ") 
bool(string_value1)

False

**Note**
        - empty string boolean convertion gives false

$case -4$==>*string to complex*

In [31]:
complex(string_value)

ValueError: complex() arg is a malformed string

In [ ]:
str1="10.5"
int(str1)# gives error

ValueError: invalid literal for int() with base 10: '10.5'

In [ ]:
float(str1)

10.5

In [35]:
complex(str1)

(10.5+0j)

**bool to other data type**

In [36]:
val1=True
int(val1)

1

In [37]:
float(val1)

1.0

In [38]:
str(val1)

'True'

In [39]:
complex(val1)

(1+0j)

**complex to other data type**

In [ ]:
val2=10+20j
int(val2)# gives error

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
float(val2)#gives error

TypeError: float() argument must be a string or a real number, not 'complex'

In [43]:
str(val2)

'(10+20j)'

In [44]:
bool(val2)

True

In [45]:
val3=10+0j
int(val3)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [46]:
float(val3)

TypeError: float() argument must be a string or a real number, not 'complex'

In [47]:
bool(0j)

False